body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}
.headings{
  text-align: center;
  color: orange;
  font-size: 30px;
  background-color:blue;
  border-width: 8px;
  border-style:solid;
  border-color: orange;
}

.topnav {
  overflow: hidden;
  background-color: grey;
}

.topnav a {
  float: right;
  color: right;
  text-align: center;
  padding: 14px 26px;
  text-decoration: none;
  font-size: 25px;
}
.tabs a {
  float: right;
  color: right;
  text-align: center;
  padding: 14px 26px;
  text-decoration: none;
  font-size: 25px;
}
.tabs a:hover {
  background-color: white;
  color: black;
}

.tabs a.active {
  background-color: red;
  color: white;
}
.information
{
  color: skyblue;
  font-size: 30px;
  background-color:blue;
}
.abcs
{
  background-color: white;
color: red;
font-size: 25px;
}
.container
{
  background-color: white;
color: red;
font-size: 25px;
}
.con
{
  background-color: white;
color: black;
font-size: 25px;
}
.about1
{
  background-color: white;
color: black;
font-size: 25px;
}
.team{
  text-align: center;
  color: orange;
  font-size: 40px;
  background-color:blue;
  padding-top: 10px;
  padding-bottom: 10px;
}
.fa {
  padding: 10px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 5px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
